[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "meta-st-stm32mp"]
	path = meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp
	branch = scarthgap
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = scarthgap
[submodule "meta-qt6"]
	path = meta-qt6
	url = git://code.qt.io/yocto/meta-qt6.git
	branch = 6.12.0
